html, body{
    margin-top: -10px;
    padding: 0%;
    font-family: "Oswald", serif;
    margin: 0;
    border: none;
}

.start, .navbar{
    background-color: #f1b707;
    color: #000000;
    font-size: 200%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar{
    list-style-type: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

footer{
    padding-top: 35px;
    padding-bottom: 15px;
    background-color: grey;
}



.logo{
    color: #DE1A1A;
    font-size: 230%;
    font-family: "Oswald" , serif;
    font-weight: 400;
}

.logo:hover{
    color: #f1b707;
    text-decoration: none;
}


ul {
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

li {
    display: inline;
}

.homepage{
    background-image: url("https://images.pexels.com/photos/207142/pexels-photo-207142.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    color: #fffb7b;
    overflow: hidden;
}

.home_index{
    font-size: 45%;
    font: center;
}
.home_index_2{
    font-size: 225%;
}