{% extends 'base.html' %}

{% block content %}
<h1>Previous Orders</h1>
{% for o in orders %}
<h2>Pizza Order #{{ o.id }}</h2>
    <p>Size: {{ o.size }}</p>
    <p>Crust: {{ o.crust }}</p>
    <p>Sauce: {{ o.sauce }}</p>
    <p>Cheese: {{ o.cheese }}</p>
    <p>Toppings: {{ o.topping }}</p>
    {% empty %}
        You have no orders yet. Place one now!
{% endfor %}

    <a href='/create'><button class="home_button">Order Now!</button></a>
<br>
<br>
    <p>Return<a href='/'><button class="home_button">Home</button></a></p>

{% endblock %}