{% extends 'base.html' %}

{% block content %}
<h1>Previous Orders</h1>
{% for order in orders%}
        <h2>Welcome back, {{order.user}}. Here are you previous orders</h2>
        <h2>Order #{{order.id}}</h2>
        <h4><strong>Ordered on:</strong>{{order.create_time}}</h4>
        <h4><strong>Pizza:</strong> {{order.pizza}}</h4>
    {% empty %}
        {{order.user}}You have no orders yet. Place one now!
    {% endfor %}

    <a href='/create'><button class="home_button">Delivery</button></a>
{% endblock %}